@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root{
    --primary-color: #423B95;
    --gray-color: #717171;
}

body, html{
    font-family: 'Poppins';

    overflow-x: hidden;
}

body{
    background-color: #EBF1FD;
}
